In [3]:
pip install pymongo==3.4.0

Requirement already satisfied: pymongo==3.4.0 in c:\users\student-cpt-060\appdata\local\continuum\anaconda3\lib\site-packages (3.4.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

In [8]:
import pandas as pd
import numpy as np
import pymongo
df = pd.read_csv (r'C:\Users\student-cpt-060\choco and sweet.csv')
print (df)

                      Type  QTY in kg/ box Selling Price per units  \
0               Air heards              15                  R60.00
1                   Almond              15                  R45.00
2                Baby Ruth              15                  R35.00
3             Butterfinger              15                  R45.00
4             Cadbury Eggs              15                  R52.00
5          Cadbury Buttons              15                  R68.00
6                     Dots              15                  R25.00
7           Dove chocolate              15                  R68.00
8   Everlasting Gobstopper              15                  R74.00
9              Eyes Popper              15                  R33.00
10          Ferrero Rocher              15                  R25.00
11                 Fun Dip              15                  R23.00
12         Good and Plenty              15                  R20.00

   Cost price per units Total Cost Total Sale   Profit
0                R40.00    R600.00    R900.00  R300.00
1                R25.00    R375.00    R675.00  R300.00
2                R26.00    R390.00    R525.00  R135.00
3                R25.00    R375.00    R675.00  R300.00
4                R42.00    R630.00    R780.00  R150.00
5                R33.00    R495.00  R1,020.00  R525.00
6                R14.00    R210.00    R375.00  R165.00
7                R33.00    R495.00  R1,020.00  R525.00
8                R53.00    R795.00  R1,110.00  R315.00
9                R23.00    R345.00    R495.00  R150.00
10               R10.00    R150.00    R375.00  R225.00
11               R13.00    R195.00    R345.00  R150.00
12               R14.00    R210.00    R300.00   R90.00
                      Type  QTY in kg/ box Selling Price per units  \
0               Air heards              15                  R60.00
1                   Almond              15                  R45.00
2                Baby Ruth              15                  R35.00
3             Butterfinger              15                  R45.00
4             Cadbury Eggs              15                  R52.00
5          Cadbury Buttons              15                  R68.00
6                     Dots              15                  R25.00
7           Dove chocolate              15                  R68.00
8   Everlasting Gobstopper              15                  R74.00
9              Eyes Popper              15                  R33.00
10          Ferrero Rocher              15                  R25.00
11                 Fun Dip              15                  R23.00
12         Good and Plenty              15                  R20.00

   Cost price per units Total Cost Total Sale   Profit
0                R40.00    R600.00    R900.00  R300.00
1                R25.00    R375.00    R675.00  R300.00
2                R26.00    R390.00    R525.00  R135.00
3                R25.00    R375.00    R675.00  R300.00
4                R42.00    R630.00    R780.00  R150.00
5                R33.00    R495.00  R1,020.00  R525.00
6                R14.00    R210.00    R375.00  R165.00
7                R33.00    R495.00  R1,020.00  R525.00
8                R53.00    R795.00  R1,110.00  R315.00
9                R23.00    R345.00    R495.00  R150.00
10               R10.00    R150.00    R375.00  R225.00
11               R13.00    R195.00    R345.00  R150.00
12               R14.00    R210.00    R300.00   R90.00

In [9]:
import pandas as pd
import numpy as np
import pymongo
df = pd.read_csv (r'C:\Users\student-cpt-060\cooldrinkies.csv')
print (df)

           Type  QTY (case) of grm Selling Price per units  \
0    Coke -Cola                 50                 R12.00
1         Pepsi                 55                 R10.00
2      Red Bull                 13                 R20.00
3    Nestle S.A                 13                 R20.00
4        Sprite                 50                 R12.00
5  Mountain Dew                 45                 R13.00
6  Perpper Soda                 45                 R20.00
7         Fanta                 45                 R12.00
8     Tropicana                 45                 R14.00

  Cost price per units Total Cost Total Sale     Profit  Unnamed: 7
0               R5.00    R250.00    R600.00    R350.00          NaN
1               R6.00    R330.00    R550.00    R220.00          NaN
2               R8.00    R104.00    R260.00    R156.00          NaN
3               R5.00     R65.00    R260.00    R195.00          NaN
4               R5.00    R250.00    R600.00    R350.00          NaN
5               R5.00    R225.00    R585.00    R360.00          NaN
6               R8.00    R360.00    R900.00    R540.00          NaN
7               R5.00    R225.00    R540.00    R315.00          NaN
8               R6.00    R270.00    R630.00    R360.00          NaN
           Type  QTY (case) of grm Selling Price per units  \
0    Coke -Cola                 50                 R12.00
1         Pepsi                 55                 R10.00
2      Red Bull                 13                 R20.00
3    Nestle S.A                 13                 R20.00
4        Sprite                 50                 R12.00
5  Mountain Dew                 45                 R13.00
6  Perpper Soda                 45                 R20.00
7         Fanta                 45                 R12.00
8     Tropicana                 45                 R14.00

  Cost price per units Total Cost Total Sale     Profit  Unnamed: 7
0               R5.00    R250.00    R600.00    R350.00          NaN
1               R6.00    R330.00    R550.00    R220.00          NaN
2               R8.00    R104.00    R260.00    R156.00          NaN
3               R5.00     R65.00    R260.00    R195.00          NaN
4               R5.00    R250.00    R600.00    R350.00          NaN
5               R5.00    R225.00    R585.00    R360.00          NaN
6               R8.00    R360.00    R900.00    R540.00          NaN
7               R5.00    R225.00    R540.00    R315.00          NaN
8               R6.00    R270.00    R630.00    R360.00          NaN

In [10]:
import pandas as pd
import numpy as np
import pymongo
df = pd.read_csv (r'C:\Users\student-cpt-060\desserts.csv')
print (df)

                           Type  QTY in kg/ box/Dish Selling Price per units  \
0               Angel food cake                100.0                  R50.00
1           Anzac biscuit tarts                100.0                  R45.00
2    Apple and Butterscotch pie                100.0                  R30.00
3               10-minute honey                100.0                  R40.00
4                    Cheesecake                100.0                  R55.00
5                       Tramisu                100.0                  R75.00
6   Chocolate mousse in minutes                100.0                  R35.00
7    Roasted Strawberry crumble                100.0                  R55.00
8          Almond and date cake                100.0                  R60.00
9            Maltesers Tiramisu                100.0                  R28.00
10                          NaN                  NaN                     NaN
11                          NaN                  NaN                     NaN
12                          NaN                  NaN                     NaN
13                          NaN                  NaN                     NaN
14                          NaN                  NaN                     NaN
15                          NaN                  NaN                     NaN
16                          NaN                  NaN                     NaN
17                          NaN                  NaN                     NaN
18                          NaN                  NaN                     NaN
19                          NaN                  NaN                     NaN
20                          NaN                  NaN                     NaN
21                          NaN                  NaN                     NaN

   Cost price per units Total Cost Total Sale     Profit
0                R25.00  R2,500.00  R5,000.00  R2,500.00
1                R20.00  R2,000.00  R4,500.00  R2,500.00
2                R23.00  R2,300.00  R3,000.00    R700.00
3                R15.00  R1,500.00  R4,000.00  R2,500.00
4                R30.00  R3,000.00  R5,500.00  R2,500.00
5                R50.00  R5,000.00  R7,500.00  R2,500.00
6                R10.00  R1,000.00  R3,500.00  R2,500.00
7                R30.00  R3,000.00  R5,500.00  R2,500.00
8                R35.00  R3,500.00  R6,000.00  R2,500.00
9                R19.00  R1,900.00  R2,800.00    R900.00
10                  NaN        NaN        NaN        NaN
11                  NaN        NaN        NaN        NaN
12                  NaN        NaN        NaN        NaN
13                  NaN        NaN        NaN        NaN
14                  NaN        NaN        NaN        NaN
15                  NaN        NaN        NaN        NaN
16                  NaN        NaN        NaN        NaN
17                  NaN        NaN        NaN        NaN
18                  NaN        NaN        NaN        NaN
19                  NaN        NaN        NaN        NaN
20                  NaN        NaN        NaN        NaN
21                  NaN        NaN        NaN        NaN
                           Type  QTY in kg/ box/Dish Selling Price per units  \
0               Angel food cake                100.0                  R50.00
1           Anzac biscuit tarts                100.0                  R45.00
2    Apple and Butterscotch pie                100.0                  R30.00
3               10-minute honey                100.0                  R40.00
4                    Cheesecake                100.0                  R55.00
5                       Tramisu                100.0                  R75.00
6   Chocolate mousse in minutes                100.0                  R35.00
7    Roasted Strawberry crumble                100.0                  R55.00
8          Almond and date cake                100.0                  R60.00
9            Maltesers Tiramisu                100.0                  R28.00
10                          NaN                  NaN                     NaN
11                          NaN                  NaN                     NaN
12                          NaN                  NaN                     NaN
13                          NaN                  NaN                     NaN
14                          NaN                  NaN                     NaN
15                          NaN                  NaN                     NaN
16                          NaN                  NaN                     NaN
17                          NaN                  NaN                     NaN
18                          NaN                  NaN                     NaN
19                          NaN                  NaN                     NaN
20                          NaN                  NaN                     NaN
21                          NaN                  NaN                     NaN

   Cost price per units Total Cost Total Sale     Profit
0                R25.00  R2,500.00  R5,000.00  R2,500.00
1                R20.00  R2,000.00  R4,500.00  R2,500.00
2                R23.00  R2,300.00  R3,000.00    R700.00
3                R15.00  R1,500.00  R4,000.00  R2,500.00
4                R30.00  R3,000.00  R5,500.00  R2,500.00
5                R50.00  R5,000.00  R7,500.00  R2,500.00
6                R10.00  R1,000.00  R3,500.00  R2,500.00
7                R30.00  R3,000.00  R5,500.00  R2,500.00
8                R35.00  R3,500.00  R6,000.00  R2,500.00
9                R19.00  R1,900.00  R2,800.00    R900.00
10                  NaN        NaN        NaN        NaN
11                  NaN        NaN        NaN        NaN
12                  NaN        NaN        NaN        NaN
13                  NaN        NaN        NaN        NaN
14                  NaN        NaN        NaN        NaN
15                  NaN        NaN        NaN        NaN
16                  NaN        NaN        NaN        NaN
17                  NaN        NaN        NaN        NaN
18                  NaN        NaN        NaN        NaN
19                  NaN        NaN        NaN        NaN
20                  NaN        NaN        NaN        NaN
21                  NaN        NaN        NaN        NaN

In [11]:
import pandas as pd
import numpy as np
import pymongo
df = pd.read_csv (r'C:\Users\student-cpt-060\fruit and veg.csv')
print (df)

           Type  QTY in kg/ box Selling Price per units Cost price per units  \
0         Pears              50                  R45.00               R44.75
1   Grapefruits              50                  R50.00               R49.75
2        Banana              50                  R65.00               R64.75
3         Apple              50                  R45.00               R44.75
4        Orange              50                  R50.00               R49.75
5      Appricot              50                  R55.00               R54.75
6        Tomato              50                  R65.00               R64.75
7      Avocando              50                  R75.00               R74.75
8      Carbadge              50                  R80.00               R79.75
9      Potatoes             100                  R35.00               R34.75
10      Carrots             100                  R30.00               R29.75

   Total Cost Total Sale  Profit
0   R2,237.50  R2,250.00  R12.50
1   R2,487.50  R2,500.00  R12.50
2   R3,237.50  R3,250.00  R12.50
3   R2,237.50  R2,250.00  R12.50
4   R2,487.50  R2,500.00  R12.50
5   R2,737.50  R2,750.00  R12.50
6   R3,237.50  R3,250.00  R12.50
7   R3,737.50  R3,750.00  R12.50
8   R3,987.50  R4,000.00  R12.50
9   R3,475.00  R3,500.00  R25.00
10  R2,975.00  R3,000.00  R25.00
           Type  QTY in kg/ box Selling Price per units Cost price per units  \
0         Pears              50                  R45.00               R44.75
1   Grapefruits              50                  R50.00               R49.75
2        Banana              50                  R65.00               R64.75
3         Apple              50                  R45.00               R44.75
4        Orange              50                  R50.00               R49.75
5      Appricot              50                  R55.00               R54.75
6        Tomato              50                  R65.00               R64.75
7      Avocando              50                  R75.00               R74.75
8      Carbadge              50                  R80.00               R79.75
9      Potatoes             100                  R35.00               R34.75
10      Carrots             100                  R30.00               R29.75

   Total Cost Total Sale  Profit
0   R2,237.50  R2,250.00  R12.50
1   R2,487.50  R2,500.00  R12.50
2   R3,237.50  R3,250.00  R12.50
3   R2,237.50  R2,250.00  R12.50
4   R2,487.50  R2,500.00  R12.50
5   R2,737.50  R2,750.00  R12.50
6   R3,237.50  R3,250.00  R12.50
7   R3,737.50  R3,750.00  R12.50
8   R3,987.50  R4,000.00  R12.50
9   R3,475.00  R3,500.00  R25.00
10  R2,975.00  R3,000.00  R25.00

In [1]:
import pandas as pd
import numpy as np
import pymongo
df = pd.read_csv (r'C:\Users\student-cpt-060\Chipsie.csv')
print (df)

              Type  QTY Selling Price per units Cost price per units  \
0             Lays   25                  R15.00               R10.00
1          doritos   20                  R11.00                R6.00
2          Funnyun   20                  R12.00                R6.00
3         Balistos   20                  R17.00               R12.00
4           Bambas   20                  R25.00               R15.00
5        Bambeanos   20                  R30.00               R20.00
6           Barcel   20                  R15.00                R9.00
7        Beer Nuts   20                  R25.00               R12.00
8         Clif Bar   20                  R14.00                R7.00
9   Cottage Double   20                  R15.00               R14.00
10    Cracker Jack   20                  R18.00               R15.00
11          Crimpy   20                  R14.00                R8.00

   Total Cost Total Sale
0     R250.00    R375.00
1     R120.00    R220.00
2     R120.00    R240.00
3     R240.00    R340.00
4     R300.00    R500.00
5     R400.00    R600.00
6     R180.00    R300.00
7     R240.00    R500.00
8     R140.00    R280.00
9     R280.00    R300.00
10    R300.00    R360.00
11    R160.00    R280.00

In [5]:
# Python program to demonstrate  
# finding 3 highest values in a Products  
from heapq import nlargest 
import pandas as pd
import numpy as np
import pymongo
#Connecting to MongoDB
myclient = pymongo.MongoClient("mongodb://localhost:27017/")   

mydb = myclient["DataTracker"]                       

mycol = mydb["top 3 products"]


# Initial Dictionary 
my_prdct = {'Chipsie':250 , 'Fruit & Veg':8000 , 'Chocolate': 4000, 
           'Dessert':250, 'Cooldrinks': 9500, 'Cupcakes': 6000} 
  
print("Initial Product:") 
print(my_prdct, "\n") 
  
ThreeHighest = nlargest(3, my_prdct, key = my_prdct.get) 
  
print("Products with 3 highest values:") 
print("Keys: Values") 
  
for val in ThreeHighest: 
    print(val, ":", my_prdct.get(val))

Initial Product:
{'Chipsie': 250, 'Fruit & Veg': 8000, 'Chocolate': 4000, 'Dessert': 250, 'Cooldrinks': 9500, 'Cupcakes': 6000}

Products with 3 highest values:
Keys: Values
Cooldrinks : 9500
Fruit & Veg : 8000
Cupcakes : 6000

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["DataTracker"]
mycol = mydb["Cooldrinkies"]

In [4]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")   

mydb = myclient["DataTracker"]                       

mycol = mydb["top 3 products"]

mylist = [

  { "Type": "Simba", "Price": "R10.50", "Cost Price":"R5.50", "Profit":"R5"},             

 { "Type": "Chocolate", "Price": "R20.50", "Cost Price":"R10.50", "Profit":"R10"},

 { "Type": "Cooldrinks", "Coke": "R15.50", "Cost Price":"R10.50", "Profit":"R5"},

]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:

print(x.inserted_ids)

[ObjectId('5e566cf106929a401074e156'), ObjectId('5e566cf106929a401074e157'), ObjectId('5e566cf106929a401074e158')]
[ObjectId('5e566cf106929a401074e156'), ObjectId('5e566cf106929a401074e157'), ObjectId('5e566cf106929a401074e158')]